/cmake-build-debug-gcc-11/
/cmake-build-debug-gcc-10/
/cmake-build-debug-clang-12/
/cmake-build-debug-clang/
/cmake-build-debug/
/build/
/cmake-build-debug-gcc-9/
/cmake-build-release-clang-12/
/cmake-build-release-gcc-10/
